@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.nav_font {
  font-family: "Onest", sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif !important;
}
.pool_font {
  font-family: "Inter", sans-serif !important;
}
.box_wallet {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: #171616;
  padding: 16px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  height: 58px;
}
.wallet_popup {
  border-radius: 8px;
  border: 1px solid #181818;
  background: #1b1c1e;
  backdrop-filter: blur(12.5px);
}
.sidebar_wallet_menu {
  border-left: 1px solid #25272a;
  background: #1b1c1e;
  box-shadow: 0px 2px 24px 4px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(12.5px);
}
.wallet_img_box {
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1);
}
.wallet_connected_font {
  font-family: "Poppins", sans-serif !important;
}
.logo_font {
  font-family: "Montserrat", sans-serif !important;
}
.header_bg {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.bg-1 {
  background: rgba(13, 13, 13, 0.4);
  backdrop-filter: blur(42px);
}
.box_shadow {
  box-shadow: 0px -6px 24px 0px rgba(255, 255, 255, 0.1) inset,
    0px 2px 12px 0px rgba(0, 0, 0, 0.25);
}
.btn {
  border-radius: 4px;
  border: 1px solid rgba(64, 224, 208, 0.2);
  background: linear-gradient(
    180deg,
    rgba(64, 224, 208, 0) 0%,
    rgba(42, 204, 187, 0.05) 100%
  );
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}
.btn_one {
  border-radius: 6px;
  /*border: 1px solid rgba(255, 255, 255, 0.5);*/
  background: linear-gradient(180deg, #40e0d0 0%, #2accbb 100%);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
}
.wallet_coonected {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.07);
  background: rgba(255, 255, 255, 0.03);
}
body {
  color: #fff;
  background: #111113;
}

#tradingview_0396b #widget-container {
  border: 1px solid #25272a !important;
}

input[type="checkbox"]:checked {
  background-image: url("../../public/assest/control.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wallet_card_bg {
  border-radius: 4px;
  border: 1px solid #8a4c00;
  background: rgba(213, 117, 1, 0.1);
}
.incorrect_network_bg {
  border-radius: 4px;
  border: 1px solid #8e4d00;
  background: rgba(213, 117, 1, 0.05);
}
.agree_bg{
  position: relative;
}
.agree_bg::before{
   content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-image: url("../../public/assest/stake/Agree.png");
    background-size: cover;
}
.animated-bg {
  position: relative;
  overflow: hidden;
}

.animated-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100px;
  height: 40px;
  background-size: 200% 100%;
  background-color: #abfffa9e; /* Green background color */
  animation: slideBg 1s linear infinite; /* Adjust the duration as needed */
}

@keyframes slideBg {
  to {
    left: 100%;
  }
}
/*-------------------Pool Page css----------------------*/

.pool_bg {
  /* height: 60px; */
  background: linear-gradient(180deg, rgba(17, 17, 19, 0) 0%, #111113 100%),
    url("./../../public/assest/poolbackground.png"),
    lightgray 50% / cover no-repeat;
}
.pool_box_shadow {
  box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.2);
}
.pool_charts_box {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}
.pool_right_box {
  border-radius: 8px;
  border-top: 1px solid rgba(56, 216, 200, 0.4);
  background: radial-gradient(
      95.76% 90.91% at 50% 0%,
      rgba(64, 224, 208, 0.2) 0%,
      rgba(64, 224, 208, 0) 100%
    ),
    #1b1c1e;
  border-left: 1px solid rgba(56, 216, 200, 0.4);
  border-right: 1px solid rgba(56, 216, 200, 0.4);
  border-bottom: 1px solid #222427;
}
.pool_wallet_popup {
  border-radius: 8px;
  border: 1px solid #25272a;
  background: #111113;

  /* T Card 1 Shadow 1 */
  box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.2);
}
.add_balance_bg {
  border-radius: 8px;
  border: 1px solid rgba(56, 216, 200, 0.4);
  background: radial-gradient(
      95.76% 90.91% at 50% 0%,
      rgba(64, 224, 208, 0.2) 0%,
      rgba(64, 224, 208, 0) 100%
    ),
    #1b1c1e;

  /* T Card 1 Shadow 1 */
  box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.2);
}
/*-------------------Stake Page css----------------------*/

.stake_box {
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0.02) 100%
  );
}
.stakereward-ul {
  position: relative;
  z-index: 9;
}

.stakereward-ul::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 0;
  width: 90%;
  height: 1px;
  background-color: #2d333c;
  z-index: -9;
}

.stakereward-ul li:nth-child(1) {
  position: relative;
}

.stakereward-ul li:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 28px;
  background-image: url(../../public/assest/stakeshadow.png);
  background-repeat: no-repeat;
  z-index: 9;
}

/* Referral CSS */

.referal-bg {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  /* background-image: url(../../public/assest/referral-bg.png);
  background-repeat: no-repeat;
  background-size: contain; */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: end;
  align-items: end;
  text-align: end;
}
/*--------------------Trades page css----------------*/
/* src/styles.css */

.range-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 256px;
  background: linear-gradient(
      0deg,
      rgba(64, 224, 208, 0.1) 0%,
      rgba(64, 224, 208, 0.1) 100%
    ),
    #1a1a1a;

  outline: none;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  display: flex;
  width: 40px;
  height: 40px;
  background-image: url("../../public/assest/Knob.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6px 11px 6px 8px;

  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.range-slider::-moz-range-thumb {
  width: 40px;
  height: 40px;

  display: flex;
  width: 40px;

  padding: 6px 11px 6px 8px;

  justify-content: center;
  align-items: center;
  background-image: url("../../public/assest/Knob.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.tooltip_bg {
  border-radius: 6px;

  border: 1px solid #25272a;
  background: #111113;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
}
.three_dot {
  border-radius: 8px;
  border: 1px solid #25272a;
  background: #1b1c1e;
  box-shadow: 0px 2px 24px 4px rgba(0, 0, 0, 0.5);
}
.right_bg {
  background: rgba(64, 224, 208, 0.2);
}
.right_bg1 {
  background: rgba(64, 224, 208, 0.05);
}
.active_button_bg {
  border-radius: 8px;
  border: 1px solid #25272a;
  background: #26282c;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}
.buy_bg_btn {
  border-radius: 6px;
  border: 1px solid #065f46;
  background: rgba(5, 150, 105, 0.05) !important;

  /* Dark/Drop Shadow/2 */
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.16),
    0px 2px 1px 0px rgba(0, 0, 0, 0.12), 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}
.sell_bg_btn {
  border-radius: 6px;
  border: 1px solid #882c2c;
  background: rgba(195, 63, 63, 0.05);

  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.16),
    0px 2px 1px 0px rgba(0, 0, 0, 0.12), 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}
.btn_border {
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.input_field_bg {
  border-radius: 8px;
  border: 1px solid #363a41;
  background: #25272a;

  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
.toggle_btn {
  background: linear-gradient(180deg, #40e0d0 0%, #2accbb 100%);
}
.max-border {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.save_btn {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: #059669;
}
.table_right_side {
  border-top: 1px solid #25272a;
 /* border-bottom: 1px solid #25272a;*/
  border-left: 1px solid #25272a;
  background: #1b1c1e;
  box-shadow: -4px 0px 8px -1px rgba(0, 0, 0, 0.25);
}
.manage_popup {
  border-radius: 8px;
  border: 1px solid #25272a;
  background: #1b1c1e;
  box-shadow: 0px 2px 24px 4px rgba(0, 0, 0, 0.5);
}
/*--------------------Portfolio page css----------------*/

.portfolio_box_shadow {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.16),
    0px 2px 1px 0px rgba(0, 0, 0, 0.12), 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}
.bg_coin {
  position: relative;
  overflow: hidden;
}
.bg_coin::before {
  background: url("../../public/assest/coin2.png");
  content: "";
  position: absolute;
  right: 0;
  width: 228px;
  height: 299px;
  background-repeat: no-repeat;
  bottom: -14%;
}
.nav_link:hover {
  background: #25272a;
  color: #fff;
  width: 100%;
  justify-content: center;
  display: flex;
  height: 30px;
  align-items: center;
  border-radius: 4px;
}
/*-------------------responsive css ------------*/

@media (min-width: 1280px) and (max-width: 1360px) {
  .container {
    max-width: 1180px !important;
  }
}
@media (min-width: 1536px) and (max-width: 1700px) {
  .container {
    max-width: 1436px !important;
  }
}
@media (min-width: 1024px) {
  .grids-width {
    grid-template-columns: 70% 30%;
  }
  .grid-width {
    grid-template-columns: 70% 30%;
  }
  .portfolio_grids-width {
    grid-template-columns: 18% 82%;
  }
}
@media (min-width: 1280px) {
  .grids-width {
    grid-template-columns: 75% 25%;
  }
  .grid-width {
    grid-template-columns: 78% 22%;
  }
}
@media (min-width: 1700px) {
  .grids-width {
    grid-template-columns: 1fr 400px;
  }
  .grid-width {
    grid-template-columns: 1fr 230px;
  }
  .table_width {
    width: -webkit-fill-available;
  }
}
@media (min-width: 1560px) {
  .icon-width {
    width: 373px !important;
  }
}
@media (min-width: 280px) and (max-width: 354px) {
  .icon-width {
    width: 260px;
  }
}
@media (min-width: 355px) and (max-width: 465px) {
  .icon-width {
    width: 300px;
  }
}
@media (min-width: 466px) and (max-width: 559px) {
  .icon-width {
    width: 404px;
  }
}
@media (min-width: 560px) and (max-width: 1023px) {
  .icon-width {
    width: 504px;
  }
}
@media (min-width: 1024px) and (max-width: 1079px) {
  .icon-width {
    width: 284px;
  }
}
@media (min-width: 1024px) and (max-width: 1180px) {
  .icon-height {
    height: 280px;
    overflow-y: scroll;
  }
}

@media (min-width: 1080px) and (max-width: 1162px) {
  .icon-width {
    width: 304px;
  }
}
@media (min-width: 1163px) and (max-width: 1279px) {
  .icon-width {
    width: 330px;
  }
}
@media (min-width: 1280px) and (max-width: 1366px) {
  .icon-width {
    width: 293px;
  }
}
@media (min-width: 1367px) and (max-width: 1439px) {
  .icon-width {
    width: 318px;
  }
}
@media (min-width: 1440px) and (max-width: 1559px) {
  .icon-width {
    width: 337px;
  }
}
@media (min-width: 1180px) {
  .nav_moblie_bar {
    display: none;
  }
}
@media (max-width: 1023px) {
  .pool_bg {
    height: auto;
    background: linear-gradient(180deg, rgba(17, 17, 19, 0) 0%, #111113 100%),
      url("./../../public/assest/poolbackground.png"),
      lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-position: cover;
    background-size: cover;
  }
}
@media (max-width: 767px) {
  .stakereward-ul::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: #2d333c;
    z-index: -9;
    display: none;
  }
  .stakereward-ul li:nth-child(1)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 28px;
    background-image: url(/_next/static/media/stakeshadow.8de833dd.png);
    background-repeat: no-repeat;
    z-index: 9;
    display: none;
  }
  .border_list {
    border: 1px solid #3b3f46;
    border-radius: 8px;
  }
}
